<table style="height: 23px;" width="811">
<tbody>
<tr>
<td style="width: 263px;"><img src="http://mmewidencja.pl/tcm/assets/images/logos/logo-eu-left.jpg" alt="logo-eu-left" width="200" height="94" /></td>
<td style="width: 263px;">&nbsp;</td>
<td style="width: 263px;"><img src="http://mmewidencja.pl/tcm/assets/images/logos/logo-eu-right.jpg" alt="logo-eu-right" width="350" height="103" /></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Witamy w systemie szkoleniowym MM Poland Maszyny Standardy Sp. z o.o.</strong></p>
<p>Dostałeś tę wiadomość, ponieważ uczestniczyłeś w szkoleniu</p>
<p><strong>Efektywne zarządzanie aparaturą medyczną - LUBLIN</strong></p>
<p><strong>w dniach 10-11-12 stycznia 2018r.</strong></p>
<p>&nbsp;</p>
<p><strong>Aby m&oacute;c uzyskać certyfikat potwierdzający ukończenie szkolenia </strong>oraz pobrać materiały szkoleniowe zaloguj się za pomocą poniższego linka</p>
<p><a href="<%= verifyHref %>"> <strong>Link aktywujący konto</strong></a></p>
<p>LOGIN to Tw&oacute;j adres e-mail (na kt&oacute;ry otrzymałeś tę wiadomość)</p>
<p>HASŁO: to Tw&oacute;j PESEL</p>
<p>&nbsp;</p>
<p>Teraz system wymusi reset hasła użytkownika</p>
<p>Wpisz nowe hasło użytkownika oraz je potwierdź a następnie kliknij niebieski przycisk RESETUJ HASŁO</p>
<p>Teraz ponownie zaloguj się na swoje konto za pomocą hasła jakie sam nadałeś.</p>
<p>&nbsp;</p>
<p>Gratuluję zalogowałeś się do systemu szkoleniowego firmy MM Poland Maszyny Standardy Sp. z o.o.</p>
<p>Od tej pory możesz przeglądać naszą aktualną ofertę szkoleniową, dokonać rejestracji na wybrane szkolenie, pobierać materiały ze szkoleń a także walidować kompetencje nabyte po szkoleniu.</p>
<p>&nbsp;</p>
<p><strong>Teraz proszę abyś przeszedł do części w kt&oacute;rej wypełnisz test. </strong></p>
<p>Kliknij w wizyt&oacute;wkę szkolenia <strong>Efektywne zarządzanie aparaturą medyczną - LUBLIN</strong></p>
<p>Kliknij w zakładkę <strong>TESTY</strong></p>
<p>Kliknij w wiersz z nazwą testu</p>
<p>Wypełnij test i kliknij <strong>ZAPISZ</strong></p>
<p><strong>Wyniki testu otrzymasz po sprawdzeniu pytań przez trenera. Wyniki będą przesłane na podany przy rejestracji adres e-mail.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Dziękuję i zapraszam do korzystania z naszych szkoleń w przyszłości.</strong></p>