<p><strong>Witamy w systemie szkoleniowym MM Poland Maszyny Standardy Sp. z o.o.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>Dostałeś tę wiadomość ponieważ uczestniczyłeś w szkoleniu</p>
<p><strong>Efektywne zarządzanie aparaturą medyczną - WARSZAWA</strong></p>
<p><strong>w dniach 6-8 grudnia 2017r.</strong></p>
<p>&nbsp;</p>
<p>Aby m&oacute;c pobrać materiały szkoleniowe i wypełnić test walidacji kompetencji nabytych po ukończeniu szkolenia zaloguj się za pomocą poniższego linka</p>
<p><a href="<%= verifyHref %>"> <strong>Link aktywujący konto</strong></a></p>
<p>LOGIN to Tw&oacute;j adres e-mail (na kt&oacute;ry otrzymałeś tę wiadomość)</p>
<p>HASŁO: to Tw&oacute;j PESEL</p>
<p>&nbsp;</p>
<p>Teraz system wymusi reset hasła użytkownika</p>
<p>Wpisz nowe hasło użytkownika oraz je potwierdź a następnie kliknij niebieski przycisk RESETUJ HASŁO</p>
<p>Teraz ponownie zaloguj się na swoje konto za pomocą hasła jakie sam nadałeś.</p>
<p>&nbsp;</p>
<p>Gratuluję zalogowałeś się do systemu szkoleniowego firmy MM Poland Maszyny Standardy Sp. z o.o.</p>
<p>Od tej pory możesz przeglądać nasze aktualne szkolenia, dokonać rejestracji na wybrane szkolenie,&nbsp; pobierać materiały ze szkoleń a także walidować kompetencje nabyte po szkoleniu.</p>
<p>&nbsp;</p>
<p><strong>Teraz proszę abyś przeszedł do części w kt&oacute;rej wypełnisz test. </strong></p>
<p>Kliknij w wizyt&oacute;wkę szkolenia <strong>Efektywne zarządzanie aparaturą medyczną - WARSZAWA</strong></p>
<p>Kliknij w zakładkę <strong>TESTY</strong></p>
<p>Kliknij w wiersz z nazwą testu</p>
<p>Wypełnij test i kliknij <strong>ZAPISZ</strong></p>
<p><strong>Wyniki testu otrzymasz na podany przy rejestracji adres e-mail.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Dziękuję i zapraszam do korzystania z naszych szkoleń w przyszłości.</strong></p>

