<p>Szanowni Państwo</p>
<p>Zbliża się termin zamknięcia egzaminu po szkoleniu</p>
<p>"<%= courseName %>"</p>
<p>W dalszym ciągu nie otrzymaliśmy wypełnionego przez Państwa testu po szkoleniu.</p>
<p>Przypominam, że nie wypełnienie testu będzie skutkowało brakiem możliwości otrzymania certyfikatu po szkoleniu.</p>