<p>Szanowni Państwo</p>
<p>&nbsp;</p>
<p>Dziękuję za wzięcie udziału w szkoleniu</p>
<p><strong> <%= courseName %></strong></p>
<p>współfinansowanemu ze środków Europejskiego Funduszu Społecznego</p>
<p><strong>W wyniku walidacji kompetencji nabytych po szkoleniu zostaliście Państwo poproszeni o wypełnienie testu.</strong></p>
<p><strong>Twój wynik otrzymany w wyniku walidacji jest <%= wynik %>, uzyskaleś <%= wynikProcent %>% prawidłowych odpowiedzi.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Dziękuję i zapraszam do korzystania z naszych szkoleń w przyszłości.</strong></p>
<p>MM Poland Maszyny Standardy Sp. z o.o.</p>