<p>Witamy,</p>
<p>niniejsza wiadomość oznacza, że został Pan/Pani dodany/a do listy uczestników szkolenia: <%= courseName %>.</p>
<p>Od tej chwili dostępne są wszystkie materiały i testy związane z w/w szkoleniem.</p>
<p>W celu uzyskania dodatkowych informacji prosimy o kontakt z biurem MM Poland Maszyny Standardy Sp. z o. o. pod adresem <a href="mailto:szkolenia@mmpoland.pl">szkolenia@mmpoland.pl</a>&nbsp;lub pod numerem tel.&nbsp;22 621 02 96.</p>
<p>--</p>
<p>MM Poland Maszyny Standardy Sp z o.o.<br />02-078 Warszawa<br />ul. Ludwika Krzywickiego 34</p>
<p>kom. 500 098 580<br />tel. 22 420 22 83<br />tel. 22 420 22 84<br />tel. 22 420 22 85<br />tel./ fax.: 22 621 02 96</p>
<p>Rejestr handlowy: Sad Rejonowy dla m.st. Warszawy w Warszawie ,<br />XIII Wydzial Gospodarczy Krajowego Rejestru Sadowego KRS: 0000175169</p>
<p>NIP 5213261684</p>
<p>Rachunek bankowy : Alior Bank<br />Nr rachunku : 24 2490 0005 0000 4530 4648 7094</p>